*{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: #c33b80;
    
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
}

h1{
    background-color: #89004f;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: #c33b80;
    margin-bottom: 5px;
}

hr{
    margin: 0 auto;
    width: 150px;
    border-color: #89004f;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    padding: 20px;
}

section{
    width: 600px;
    height: 200px;
    padding: 30px;
}

div{
    margin: 20px;
    float: left;
    width: 150px;
    height: 150px;
    background-color: #89004f;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#apresentacao{
    margin-top: 30px;
}

footer{
    background-color: #89004f;
    width: 100vw;
    height: 200px;
    color: white;
    padding: 10px;
    text-align: center;
}

